body {
    background: #736b6b;


}

aside {
position: fixed;
    float: left;
    background: #181818;
    width: 20%;
    padding: 2,5%;
    height: 100vh;
    color: #fff;
    border-right: 5px solid #3B4515;
    margin:0px;
}

aside img {
    width: 100px;
}

aside .logo {
    font-size: 25px;
    margin-left: 10px;
    margin-left:5px;
    font-weight: lighter;
    position: relative;
    top: 10px;
    color: orange;
}

aside h3 {
    margin-top: 30px;
    margin-left: 40px;
    font-size: 30px;
}


aside ul li {
    color: #fff;
    display: block;
    margin-top: 20px;
    margin-left: 20px;
    transition: transform .6s ease;

}


aside ul li:hover, aside ul li:hover {
    color: #eb7d34;
    text-decoration: none;
    transform: scale(1.05);
}

main .fiatures {
    margin-left:20%;
    color: #fff;
    float: left;
    margin-top: 20px;
    text-align: center;
    width: 75%;
}

main .fiatures h1 {font-size: 40px;}
main .fiatures p {
    max-width: 400px;
    margin: 10px auto
    }

main .person h1 {color: red}
main .person {
    margin-left:20%;
    color: #fff;
    float: left;
    margin-top: 80px;
    text-align: center;
    width: 75%;
}

.alert-warning {
    float: left;
    clear: both;
    width: 400px;
    margin: 20px 34%;
    text-align: left;
    }

form {
    margin-left: 30%;
    width: 500px;
    margin-top: 50px;
}

